.schedule-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #f5f5f5;
    position: relative;
    flex-wrap: wrap;
    background-image: url('/images/deocre.webp');
    padding-top: 50px; /* Creates space at the top for the heading */
  }
  .headwed {
    color: #ec4899;
     font-family: "Dancing Script", serif;
     font-size: 30px;

  }
  .event-icons{
    color: red;
    font-size: 24px;
  }
  .wed-head{
    margin: 12px;
  }
  .schedule-container h2 {
    position: absolute;
    top: 20px; /* Moves the heading to the top */
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #ec4899;
    font-family: "Dancing Script", serif;
  }
  
  .event-card {
    background-color: #ebcbdb;
    padding: 40px;
    margin-top: 95px;
    margin-bottom: 70px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
  .event-card-content {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: black;
  }
  
  .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .date-time {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 40px;
}
  
.event-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.event-icon {
    font-size: 24px;
    color: #7c7779;
}
  .event-detail span {
    font-size: 1rem;
    font-family: "Dancing Script", serif;

  }
  
  .event-detail:last-child {
    margin-top: 15px; /* Space before venue */
  }
  
  @media (max-width:786px){
    .event-card  {
        width: 100%;
     }
  }